<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"2em","right":"2em","bottom":"2em","left":"2em"}}},"layout":{"inherit":true}} -->
<main class="wp-block-group" style="padding-top:2em;padding-right:2em;padding-bottom:2em;padding-left:2em">
	<!-- wp:group {"layout":{"type":"flex","allowOrientation":false,"justifyContent":"center"}} -->
	<div class="wp-block-group">
		<!-- wp:site-logo /-->
		<!-- wp:site-title {"isLink":false,"className":"is-style-miniblock-ooak-text-shadow"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:site-tagline {"textAlign":"center","style":{"typography":{"fontStyle":"italic","fontWeight":"300"}}} /-->

	<!-- wp:spacer {"height":"20px"} -->
	<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
	<div class="wp-block-buttons">
		<!-- wp:button {"textColor":"white","style":{"color":{"background":"#33a7b5"}},"className":"is-style-miniblock-ooak-shadow-button"} -->
		<div class="wp-block-button is-style-miniblock-ooak-shadow-button"><a
				class="wp-block-button__link has-white-color has-text-color has-background" href="#hi-i-m-jane-doe"
				style="background-color:#33a7b5">About</a></div>
		<!-- /wp:button -->

		<!-- wp:button {"style":{"color":{"background":"#33a7b5"}},"className":"is-style-miniblock-ooak-shadow-button"} -->
		<div class="wp-block-button is-style-miniblock-ooak-shadow-button"><a class="wp-block-button__link has-background"
				style="background-color:#33a7b5">Store</a></div>
		<!-- /wp:button -->

		<!-- wp:button {"style":{"color":{"background":"#33a7b5"}},"className":"is-style-miniblock-shadow-button is-style-miniblock-ooak-shadow-button"} -->
		<div class="wp-block-button is-style-miniblock-shadow-button is-style-miniblock-ooak-shadow-button"><a
				class="wp-block-button__link has-background" href="#plushies-that-have-already-moved-to-their-new-home"
				style="background-color:#33a7b5">Previous work</a></div>
		<!-- /wp:button -->

		<!-- wp:button {"style":{"color":{"background":"#33a7b5"}},"className":"is-style-miniblock-ooak-shadow-button"} -->
		<div class="wp-block-button is-style-miniblock-ooak-shadow-button"><a class="wp-block-button__link has-background"
				href="#contact" style="background-color:#33a7b5">Contact</a></div>
		<!-- /wp:button -->
	</div>
	<!-- /wp:buttons -->

	<!-- wp:spacer {"height":"40px"} -->
	<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:group {"style":{"color":{"gradient":"linear-gradient(135deg,rgb(255,255,255) 0%,rgba(169,183,194,0) 100%)"},"border":{"radius":"8px"}}} -->
	<div class="wp-block-group has-background"
		style="background:linear-gradient(135deg,rgb(255,255,255) 0%,rgba(169,183,194,0) 100%);border-radius:8px">
		<!-- wp:heading {"textAlign":"center","fontSize":"large"} -->
		<h2 class="has-text-align-center has-large-font-size" id="commissions-are-open">Commissions are open!</h2>
		<!-- /wp:heading -->

		<!-- wp:spacer {"height":20} -->
		<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->

		<!-- wp:buttons -->
		<div class="wp-block-buttons">
			<!-- wp:button {"align":"center","className":"is-style-fill"} -->
			<div class="wp-block-button aligncenter is-style-fill"><a class="wp-block-button__link"><strong>Email me to order a custom plush of your OC. From 89$.</strong></a></div>
			<!-- /wp:button -->
		</div>
		<!-- /wp:buttons -->

		<!-- wp:spacer {"height":20} -->
		<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->

		<!-- wp:paragraph {"align":"center"} -->
		<p class="has-text-align-center"><strong>Or see my work on Etsy:</strong></p>
		<!-- /wp:paragraph -->

		<!-- wp:social-links {"openInNewTab":true,"className":"is-style-default","layout":{"type":"flex","justifyContent":"center"}} -->
		<ul class="wp-block-social-links is-style-default">
			<!-- wp:social-link {"url":"#","service":"etsy"} /-->
		</ul>
		<!-- /wp:social-links -->

		<!-- wp:spacer {"height":20} -->
		<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->
	</div>
	<!-- /wp:group -->

	<!-- wp:spacer {"height":20} -->
	<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
	
	<!-- wp:pattern {"slug":"miniblock/header-image"} /-->

	<!-- wp:spacer {"height":40} -->
	<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:heading -->
	<h2 id="hi-i-m-jane-doe">Hi! I'm Jane Doe — Plush maker</h2>
	<!-- /wp:heading -->
	
	<!-- wp:paragraph -->
	<p>Curabitur malesuada ac elit ac commodo. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
	<!-- /wp:paragraph -->
	
	<!-- wp:paragraph -->
	<p>Maecenas tellus dui, accumsan blandit sollicitudin vel, cursus sed lorem. Nullam ornare lacus et elit tristique
		commodo. Mauris tempor dapibus felis, sit amet tempor sapien maximus eu. Sed semper velit nec nunc dictum viverra.
		<strong>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</strong></p>
	<!-- /wp:paragraph -->
	
	<!-- wp:paragraph -->
	<p>Vestibulum arcu velit, vulputate quis ex quis, hendrerit rutrum risus. Nullam eu efficitur felis. Donec massa orci,
		auctor sit amet elit quis, tempus fermentum ante. Nam luctus vestibulum consectetur.</p>
	<!-- /wp:paragraph -->

	<!-- wp:spacer {"height":20} -->
	<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:group {"style":{"color":{"gradient":"linear-gradient(135deg,rgb(255,255,255) 0%,rgba(169,183,194,0) 100%)"},"border":{"radius":"8px"}}} -->
	<div class="wp-block-group has-background"
		style="background:linear-gradient(135deg,rgb(255,255,255) 0%,rgba(169,183,194,0) 100%);border-radius:8px">
		<!-- wp:paragraph {"align":"center"} -->
		<p class="has-text-align-center"><em>All plushies are OOAK handsewn using recycled fabrics in a smoke- and pet-free home. All plushies are custom collector's items and not suitable for small children.</em></p>
		<!-- /wp:paragraph -->
	</div>
	<!-- /wp:group -->

	<!-- wp:spacer {"height":40} -->
	<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:heading {"textAlign":"center","fontSize":"medium"} -->
	<h2 class="has-text-align-center has-medium-font-size" id="plushies-that-have-already-moved-to-their-new-home">
		Plushies that have already moved to their new home</h2>
	<!-- /wp:heading -->

	<!-- wp:pattern {"slug":"miniblock/full-width-gallery"} /-->

	<!-- wp:spacer {"height":20} -->
	<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->


	<!-- wp:group {"style":{"color":{"gradient":"linear-gradient(135deg,rgb(255,255,255) 0%,rgba(169,183,194,0) 100%)"},"border":{"radius":"8px"}}} -->
	<div class="wp-block-group has-background"
		style="background:linear-gradient(135deg,rgb(255,255,255) 0%,rgba(169,183,194,0) 100%);border-radius:8px">
		<!-- wp:heading {"textAlign":"center","fontSize":"large"} -->
		<h2 class="has-text-align-center has-large-font-size" id="contact">Got questions?</h2>
		<!-- /wp:heading -->

		<!-- wp:spacer {"height":20} -->
		<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->

		<!-- wp:buttons -->
		<div class="wp-block-buttons">
			<!-- wp:button {"align":"center","className":"is-style-fill"} -->
			<div class="wp-block-button aligncenter is-style-fill"><a class="wp-block-button__link"><strong>Email me at example@example.com</strong></a></div>
			<!-- /wp:button -->
		</div>
		<!-- /wp:buttons -->

		<!-- wp:spacer {"height":20} -->
		<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->