<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40)">
	<!-- wp:spacer {"height":"40px"} -->
	<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
	<!-- wp:woocommerce/cart {"align":"wide"} -->
	<div class="wp-block-woocommerce-cart alignwide is-loading"><!-- wp:woocommerce/filled-cart-block -->
	<div class="wp-block-woocommerce-filled-cart-block"><!-- wp:woocommerce/cart-items-block -->
	<div class="wp-block-woocommerce-cart-items-block"><!-- wp:woocommerce/cart-line-items-block -->
	<div class="wp-block-woocommerce-cart-line-items-block"></div>
	<!-- /wp:woocommerce/cart-line-items-block --></div>
	<!-- /wp:woocommerce/cart-items-block -->

	<!-- wp:woocommerce/cart-totals-block -->
	<div class="wp-block-woocommerce-cart-totals-block"><!-- wp:woocommerce/cart-order-summary-block -->
	<div class="wp-block-woocommerce-cart-order-summary-block"></div>
	<!-- /wp:woocommerce/cart-order-summary-block -->

	<!-- wp:woocommerce/cart-express-payment-block -->
	<div class="wp-block-woocommerce-cart-express-payment-block"></div>
	<!-- /wp:woocommerce/cart-express-payment-block -->

	<!-- wp:woocommerce/proceed-to-checkout-block -->
	<div class="wp-block-woocommerce-proceed-to-checkout-block"></div>
	<!-- /wp:woocommerce/proceed-to-checkout-block -->

	<!-- wp:woocommerce/cart-accepted-payment-methods-block -->
	<div class="wp-block-woocommerce-cart-accepted-payment-methods-block"></div>
	<!-- /wp:woocommerce/cart-accepted-payment-methods-block --></div>
	<!-- /wp:woocommerce/cart-totals-block --></div>
	<!-- /wp:woocommerce/filled-cart-block -->

	<!-- wp:woocommerce/empty-cart-block -->
	<div class="wp-block-woocommerce-empty-cart-block">
	<!-- wp:heading {"textAlign":"center"} -->
	<h2 class="has-text-align-center">Your cart is empty. See what's new in store:</h2>
	<!-- /wp:heading -->
	<!-- wp:woocommerce/product-new {"rows":1} /--></div>
	<!-- /wp:woocommerce/empty-cart-block --></div>
	<!-- /wp:woocommerce/cart -->
	<!-- wp:spacer {"height":"40px"} -->
	<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
