.wp-block-search .wp-block-search__button {
	font-size: var(--wp--preset--font-size--small);
	font-family: var(--wp--preset--font-family--system);
	line-height: 1.7;
	border: 2px solid rgba(0, 0, 0, 0.05);
	padding: .3rem 1rem;
	border-radius: 4px;
	background: var(--wp--preset--color--secondary);
	color: var(--wp--preset--color--foreground);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.wp-block-search .wp-block-search__button:focus,
.wp-block-search .wp-block-search__button:hover {
	color: var(--wp--preset--color--foreground);
	filter: brightness(94%) !important;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.wp-block-search .wp-block-search__button:active {
	border-color: rgba(0, 0, 0, 0.05);
	box-shadow: 0 0 0 #fff;
	color: var(--wp--preset--color--foreground);
	filter: brightness(93%) !important;
	margin-top: 1px;
	margin-bottom: -1px;
}

.wp-block-search .wp-block-search__button:visited {
	background-color: initial;
	border-color: rgba(0, 0, 0, 0.05);
	color: var(--wp--preset--color--foreground);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.wp-block-search button.wp-block-search__button {
	margin-bottom: 0;
}

.wp-block-search button.wp-block-search__button svg {
	vertical-align: middle;
}
