.wp-block-button__link {
	box-shadow: var(--wp--custom--small-button-shadow);
}

.wp-block-button__link:focus,
.wp-block-button__link:hover {
	color: var(--wp--preset--color--foreground);
	filter: brightness(94%) !important;
	box-shadow: var(--wp--custom--small-button-shadow);
}

.wp-block-button__link:active {
	border-color: rgba(0, 0, 0, 0.05);
	box-shadow: var(--wp--custom--button-highlight);
	color: var(--wp--preset--color--foreground);
	filter: brightness(93%) !important;
	margin-top: 1px;
	margin-bottom: -1px;
}

.wp-block-button__link:visited {
	background-color: initial;
	border-color: rgba(0, 0, 0, 0.05);
	color: var(--wp--preset--color--foreground);
	box-shadow: var(--wp--custom--small-button-shadow);
}

.is-style-outline > .wp-block-button__link,
.wp-block-button__link.is-style-outline {
	padding: var(--wp--custom--button-border-padding);
}

/* Match the editor */
.wp-block-buttons > .wp-block-button {
	margin-top: .5em;
}

.wp-block-button__link svg {
	vertical-align: middle;
	fill: currentColor;
}
