<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header is-style-jace-sticky-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"layout":{"inherit":true}} --><main class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px">

	<!-- wp:pattern {"slug":"jace/full-featured-image-cover"} /-->

	<!-- wp:spacer {"height":20} -->
	<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:post-content {"align":"full","layout":{"inherit":true}} /-->

	<!-- wp:spacer {"height":20} -->
	<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:separator {"color":"secondary","className":"is-style-wide"} -->
	<hr class="wp-block-separator has-text-color has-background has-secondary-background-color has-secondary-color is-style-wide" />
	<!-- /wp:separator -->

	<!-- wp:post-comments /-->

	<!-- wp:group {"layout":{"type":"flex","allowOrientation":false,"justifyContent":"space-between","flexWrap":"wrap"}} -->
	<div class="wp-block-group">
		<!-- wp:post-navigation-link {"showTitle":true} /-->

		<!-- wp:post-navigation-link {"type":"previous","showTitle":true} /-->
	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-wide","tagName":"footer","className":"site-footer"} /-->
