/*
Styles for form elements and buttons.
*/

textarea {
	padding: 1rem;
	width: 100%;
}

select {
	padding: 3px;
}

textarea,
select,
button:not(.components-button):not(.wp-block-navigation *),
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="reset"],
input[type="search"],
input[type="submit"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
	font-size: var(--wp--preset--font-size--small);
	font-family: var(--wp--preset--font-family--system);
	line-height: 1.7;
}

button:not(.components-button):not(.wp-block-navigation *),
input[type="reset"],
input[type="submit"] {
	border: 2px solid rgba(0, 0, 0, 0.05);
	padding: .3rem 1rem;
	border-radius: 4px;
	background: var(--wp--preset--color--secondary);
	color: var(--wp--preset--color--foreground);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

button:not(.components-button):not(.wp-block-navigation *):focus,
button:not(.components-button):not(.wp-block-navigation *):hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover {
	color: var(--wp--preset--color--foreground);
	filter: brightness(94%) !important;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

button:not(.components-button):not(.wp-block-navigation *):active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: rgba(0, 0, 0, 0.05);
	box-shadow: 0 0 0 #fff;
	color: var(--wp--preset--color--foreground);
	filter: brightness(93%) !important;
	margin-top: 1px;
	margin-bottom: -1px;
}

button:not(.components-button):not(.wp-block-navigation *):visited,
input[type="reset"]:visited,
input[type="submit"]:visited {
	background-color: initial;
	border-color: rgba(0, 0, 0, 0.05);
	color: var(--wp--preset--color--foreground);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.post-password-form input[type="password"] {
	min-height: 46px;
}

/* Accessibility: Increase icon size so that the button is easier to click */
.wp-block-navigation__responsive-container-close svg,
.wp-block-navigation__responsive-container-open svg {
	width: 48px;
	height: 48px;
}

/* Reduce the larger font sizes on small screens */
@media (max-width: 600px) {

	body,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	h2.wp-block-post-title,
	h2.wp-block-query-title {
		--wp--preset--font-size--xx-large: 2.75rem;
		--wp--preset--font-size--x-large: 2.5rem;
	}
}

@media (max-width: 740px) {

	.is-style-jace-circular-cover {
		max-height: 60vh;
	}

	.is-style-jace-circular-cover h2.has-xx-large-font-size {
		font-size: var(--wp--preset--font-size--large) !important;
	}
}
