/*
 * CSS for registered block styles.
 * See styles/register-block-styles.php.
 */

/* Flat button */
.is-style-jace-flat-button .wp-block-button__link,
.is-style-jace-flat-button .wp-block-button__link:hover,
.is-style-jace-flat-button .wp-block-button__link:focus,
.is-style-jace-flat-button .wp-block-button__link:active,
.is-style-jace-flat-button .wp-block-button__link:visited {
	box-shadow: none;
	border-radius: 0;
	margin-top: initial;
	margin-bottom: initial;
}

/* Button with shadow */
.is-style-jace-shadow-button .wp-block-button__link,
.is-style-jace-shadow-button .wp-block-button__link:hover,
.is-style-jace-shadow-button .wp-block-button__link:focus,
.is-style-jace-shadow-button .wp-block-button__link:visited {
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.is-style-jace-shadow-button .wp-block-button__link:active {
	box-shadow: 0 0 0 #fff;
}

/* Text shadow */
.is-style-jace-text-shadow {
	text-shadow: 0 2px 8px rgba(0, 0, 0, 0.9);
}

/* Box shadow */
.is-style-jace-box-shadow {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

/* Lists*/
.is-style-jace-list-underline li {
	border-bottom: 1px solid currentColor;
}

.is-style-jace-list-underline ul {
	border-top: 1px solid currentColor;
}

.is-style-jace-list-underline ul li {
	border: none;
}

.is-style-jace-vertical-text {
	writing-mode: vertical-lr;
}

.is-style-jace-circular-cover.wp-block-cover,
.is-style-jace-circular-cover .wp-block-cover__image-background,
.is-style-jace-circular-cover.wp-block-cover-image,
.is-style-jace-circular-cover.wp-block-cover-image::before,
.is-style-jace-circular-cover.wp-block-cover.has-background-dim:not(.has-background-gradient)::before {
	border-radius: 50% !important;
}

@media screen and (min-width: 940px) {

	.is-style-jace-circular-cover h2 {
		white-space: nowrap;
	}
}

.is-style-jace-no-gutter.wp-block-gallery.has-nested-images figure.wp-block-image:not(#individual-image) {
	margin: 0;
}
